// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
		padding: 15px;
	a:hover{
		text-decoration: none;
	}
	h2{
			font-family: 'Lobster', cursive;
			font-size: 2.5em;
			margin: 5px 10px;
		}
	.carousel{
		z-index: -1;
		margin: 5px;
		.carousel-caption{
			color: #2e3caf;
			background-color: rgba(255,255,255,0.7);
			border-radius: 20px;
		}
	}
	.item{
	/*	height: 400px;*/
		background-size: cover;
		.space{
			height: 400px;
		}
	}
	.posts{
		/*border: 2px solid #2e3caf;*/
		margin: 5px;
		height: 100%;
		vertical-align: top;
		.homethumb{
			width: 100%;
			height: 200px;
			background-size: cover;
		}
		h2{
			font-family: 'Lobster', cursive;
			color: #2e3caf;
			font-size: 2.5em;
			margin: 5px 10px;
		}
		p{
			font-family: 'Nunito', sans-serif;
			margin: 5px 10px;
			color: #2e3caf;
		}
	}
	.search{
		width: 30%;
		display: inline-block;
	}
}